body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #464646;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80px;
  width: auto;
}
